.App {
  height: 100vh;
  background-color: rgba(63,111,208,255);
  overflow: auto;
  text-align: center;
  /* overflow: hidden; */
  background-image: url('assets/Website_Page_1.gif'), url('assets/Website_Page_2.gif');
  background-size: 100%, 100%;
  background-attachment: local;
  background-repeat: no-repeat;
  background-position: left top, center bottom;
  /* position: absolute; */
  /* padding:0 , 0;
  margin:0 , 0; */
}

.container {
  height: 90%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;
  margin: auto; */
  /* min-height: min-content; */
  /* padding: 30px 30px 30px 30px; */
  /* padding-bottom: 50px; */
  /* margin-top: 50px; */
  color: white;
}

.logo {
  width: 768px;
}

@font-face {
  font-family: 'Cloude';
  font-weight: normal;
  font-size: xx-large;
  src: local('Cloude'), url('assets/Cloude_Regular_1.02.otf') format('opentype');
}

.header {
  margin: 0;
  font-size: 100px;
  font-weight: bold;
  font-family: Cloude;
}

.sub-text {
  margin: auto;
  font-size: 50px;
  width: 50%;
  font-family: Cloude;
}

@media only screen and (max-width: 600px) {
  .sub-text {
    margin: auto;
    font-size: 50px;
    width: 100%;
    font-family: Cloude;
  }
  .logo {
    width: 90%;
  }
}

.sub-text-box {
  width: 90%;
  margin: auto;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 48px;
  font-weight: bold;
  font-family: Cloude;
}

.connect-wallet-button {
  color: white;
  background: -webkit-linear-gradient(left, #ff8867, #ff52ff);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 45px;
  padding-top: 1%;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 48px;
  font-weight: bold;
  color: white;
  font-family: Cloude;
}

.connected-container input[type='text'] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 48px;
  font-family: Cloude;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
